<StackLayout class="page-block ">
  <nav-bar
    showDrawerButton="true"
    text="Profile"
  ></nav-bar>
  <ScrollView
    height="100%"
    hideActionBar
  >
    <StackLayout
      #stack
      class="stack"
      padding="20"
      maxWidth="400"
    >

      <Image
        (tap)="startSelection()"
        [src]="selectedImage"
        width="100"
        height="100"
        stretch="aspectFill"
        horizontalAlignment="center"
        class="rounded-circle m-b-10"
        alignSelf="center"
      ></Image>
      <label
        horizontalAlignment="center"
        [text]="userToUpdate.name"
        class="m-b-5"
      ></label>
      <label
        horizontalAlignment="center"
        [text]="userToUpdate.email"
        class="m-b-5"
      ></label>
      <label
        horizontalAlignment="center"
        [text]="userToUpdate.phone"
        class="m-b-20"
      ></label>

      <core-ui-tf
        hint="Nom"
        required="true"
        returnKeyType="done"
        [(ngModel)]="userToUpdate.name"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        iconPrefix="person"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        hint="Numéro de téléphone"
        *ngIf="!userToUpdate.phone"
        keyboardType="phone"
        required="true"
        returnKeyType="done"
        [(ngModel)]="userToUpdate.phone"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        iconPrefix="phone"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        hint="Email"
        *ngIf="!userToUpdate.email"
        keyboardType="email"
        required="true"
        returnKeyType="done"
        [(ngModel)]="userToUpdate.email"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        iconPrefix="email"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        hint="Numéro de CNI"
        keyboardType="number"
        required="true"
        returnKeyType="done"
        [(ngModel)]="userToUpdate.cni"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        iconPrefix="branding_watermark"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        hint="Numéro de permis"
        keyboardType="number"
        required="true"
        returnKeyType="done"
        [(ngModel)]="userToUpdate.driving"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        iconPrefix="branding_watermark"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        hint="Année d'expérience"
        keyboardType="number"
        required="true"
        returnKeyType="done"
        [(ngModel)]="userToUpdate.experience"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        iconPrefix="history"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>

      <Button
        class="btn btn-primary text-black"
        height="64"
        margin="0"
        text="Enregistrer"
        (tap)="update()"
      ></Button>
    </StackLayout>
  </ScrollView>
</StackLayout>
