<StackLayout class="page-block">
  <nav-bar [text]="'Views.History.Details.Header' | translate"> </nav-bar>
  <ScrollView
    class="history-details"
    height="100%"
  >
    <StackLayout>
      <GridLayout height="200">
        <MapView
          [latitude]="history.originPosition.latitude"
          [longitude]="history.originPosition.longitude"
          (mapReady)="onMapReady($event)"
          [zoom]="20"
        ></MapView>
      </GridLayout>
      <StackLayout class="p-l-10 p-r-10">
        <GridLayout
          class="m-t-20 m-b-20 m-l-10 m-r-10 p-b-10 b-b-1 b-thin"
          columns="*, auto"
        >
          <label
            verticalAlignment="center"
            class="h4"
            [text]="history.date | date"
            row="0"
            col="0"
          ></label>
          <label
            verticalAlignment="center"
            [text]="history.state"
            row="0"
            col="1"
          ></label>
        </GridLayout>

        <GridLayout
          class="p-l-10 p-r-10 m-b-5"
          orientation="horizontal"
          columns="50, *"
        >
          <StackLayout col="0">
            <core-ui-icon
              rotate="180"
              name="navigation"
              size="16"
            >
            </core-ui-icon>
            <Label
              class="dotted"
              text=""
              textWrap="true"
            ></Label>
          </StackLayout>

          <label
            col="1"
            [text]="history.origin"
            class="p-b-5 b-b-1 b-thin"
          ></label>
        </GridLayout>
        <GridLayout
          class="p-l-10 p-r-10 p-b-5 m-b-5"
          orientation="horizontal"
          verticalAlignment="center"
          columns="50, *"
        >
          <StackLayout col="0">
            <Label
              class="dotted"
              text=""
              textWrap="true"
            ></Label>
            <core-ui-icon
              name="panorama_fish_eye"
              backColor="primary"
              size="16"
            >
            </core-ui-icon>
          </StackLayout>

          <label
            class="p-t-5"
            col="1"
            [text]="history.destination"
          ></label>
        </GridLayout>
      </StackLayout>
      <StackLayout class="p-l-10 p-r-10">
        <GridLayout
          class="m-t-20 m-l-10 m-r-10 b-b-1 b-thin"
          columns="*, auto"
        >
          <label
            text="Prix"
            row="0"
            col="0"
            class="h4"
          ></label>
          <label
            [text]="history.price + ' FCFA'"
            row="0"
            col="1"
          ></label>
        </GridLayout>
        <GridLayout
          rows="auto,auto"
          columns="*,auto"
          class="p-t-0 p-10"
        >
          <StackLayout
            class="m-b-10"
            orientation="horizontal"
            row="0"
            col="0"
            colSpan="2"
          >
            <Image
              [src]="history.driver.picture || '~/asstes/avatar.jpg'"
              class="raduis-5"
              width="70"
              height="70"
            ></Image>
            <StackLayout
              margin="20"
              maxWidth="60"
            >
              <Label
                class="h4"
                [text]="history.driver.user.name"
                textWrap="true"
              ></Label>
            </StackLayout>
          </StackLayout>
          <StackLayout
            row="1"
            col="0"
          >
            <Label
              [text]="'Views.History.Details.Immatriculation' | translate"
              textWrap="true"
            ></Label>
            <Label
              [text]="history.driver.immatriculation"
              textWrap="true"
            ></Label>
          </StackLayout>
          <StackLayout
            row="1"
            col="1"
          >
            <Label
              [text]="'Views.History.Details.JourneyType' | translate"
              textWrap="true"
            ></Label>
            <Label
              [text]="history.transportType"
              textWrap="true"
            ></Label>
          </StackLayout>
        </GridLayout>
        <label
          [text]="'Views.History.Details.Description' | translate"
          *ngIf="history.transportType !== 'PERSONNE'"
          class="h4 m-t-20 m-l-10 p-b-5 m-r-10 b-b-1 b-thin"
        ></label>
        <StackLayout
          class="p-10"
          *ngIf="history.transportType === 'COLIS'"
        >
          <StackLayout
            orientation="horizontal"
            class="m-b-5"
          >
            <Label
              [text]="'Views.History.Details.Weight' | translate "
              textWrap="true"
            ></Label>
            <Label
              [text]="history.packet.weight"
              textWrap="true"
            ></Label>
          </StackLayout>
          <StackLayout
            orientation="horizontal"
            class="m-b-5"
          >
            <Label
              [text]="'Views.History.Details.Nature' | translate "
              textWrap="true"
            ></Label>
            <Label
              [text]="history.packet.nature"
              textWrap="true"
            ></Label>
          </StackLayout>
          <StackLayout
            orientation="horizontal"
            class="m-b-5"
          >
            <Label
              [text]="'Views.History.Details.Value' | translate "
              textWrap="true"
            ></Label>
            <Label
              [text]="history.packet.value"
              textWrap="true"
            ></Label>
          </StackLayout>
          <StackLayout
            orientation="horizontal"
            class="m-b-5"
          >
            <Label
              [text]="'Views.History.Details.Receiver' | translate "
              textWrap="true"
            ></Label>
            <Label
              [text]="history.packet.receiver_name"
              textWrap="true"
            ></Label>
          </StackLayout>
          <StackLayout
            orientation="horizontal"
            class="m-b-5"
          >
            <Label
              [text]="'Views.History.Details.ReceiverPhone' | translate "
              textWrap="true"
            ></Label>
            <Label
              [text]="history.packet.receiver_phone"
              textWrap="true"
            ></Label>
          </StackLayout>
        </StackLayout>
      </StackLayout>
      <StackLayout
        class="bg-accent"
        *ngIf="history.state !== 'CLOSED' && history.state !== 'COMPLETE'"
      >
        <Button
          width="100%"
          class="btn btn-warn btn-flat text-white"
          height="48"
          margin="0"
          (tap)="closeJourney(history)"
          pageTransition="fade"
          style="text-align: center;"
          [text]="'Views.Journey.BtnFinish' | translate"
        ></Button>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
