<StackLayout class="page-block">
  <nav-bar
    [text]="type === 'JOURNEY' ? ('Views.History.List.Header1' | translate) : ('Views.History.List.Header2' | translate)"
    showDrawerButton="true"
  > </nav-bar>
  <ScrollView
    class="history-list"
    height="100%"
  >
    <StackLayout>
      <Label
        style="text-align:center;"
        alignContent="center"
        class="p-5"
        [text]="'Views.Common.NoData' | translate"
        *ngIf="histories.length === 0"
        textWrap="true"
      ></Label>
      <CardView
        *ngFor="let item of histories"
        class="m-l-20 m-r-20 m-t-5 m-b-5"
        elevation="20"
      >
        <StackLayout>
          <GridLayout
            class="m-t-20 m-b-20 m-l-10 m-r-10 p-b-10 b-b-1 b-thin"
            columns="*, auto"
          >
            <label
              verticalAlignment="center"
              class="h4"
              [text]="item.date | date"
              row="0"
              col="0"
            ></label>
            <label
              verticalAlignment="center"
              [text]="item.price + ' FCFA'"
              row="0"
              col="1"
            ></label>
          </GridLayout>

          <GridLayout
            class="p-l-10 p-r-10 m-b-5"
            orientation="horizontal"
            columns="50, *"
          >
            <StackLayout col="0">
              <core-ui-icon
                rotate="180"
                name="navigation"
                size="16"
              >
              </core-ui-icon>
              <Label
                class="dotted"
                text=""
                textWrap="true"
              ></Label>
            </StackLayout>

            <label
              col="1"
              [text]="item.origin"
              class="p-b-5 b-b-1 b-thin"
            ></label>
          </GridLayout>
          <GridLayout
            class="p-l-10 p-r-10 p-b-5 m-b-5"
            orientation="horizontal"
            verticalAlignment="center"
            columns="50, *"
          >
            <StackLayout col="0">
              <Label
                class="dotted"
                text=""
                textWrap="true"
              ></Label>
              <core-ui-icon
                name="panorama_fish_eye"
                backColor="primary"
                size="16"
              >
              </core-ui-icon>
            </StackLayout>

            <label
              class="p-t-5"
              col="1"
              [text]="item.destination"
            ></label>
          </GridLayout>
          <StackLayout class="bg-accent">
            <Button
              width="100%"
              class="btn btn-accent btn-flat text-white"
              height="48"
              margin="0"
              (tap)="openDetails(item)"
              style="text-align: center;"
              [text]="'Views.History.List.BtnDetails' | translate"
            ></Button>
          </StackLayout>
        </StackLayout>
      </CardView>
    </StackLayout>
  </ScrollView>
</StackLayout>
