<StackLayout class="page-block">
  <nav-bar
    [text]="'Views.SignIn.Header' | translate"
    cancelBack="true"
  ></nav-bar>
  <ScrollView
    height="100%"
    class="sign-in-block"
  >
    <StackLayout
      class="stack"
      padding="20"
      maxWidth="400"
    >
      <StackLayout #stack>
        <Image
          width="400"
          src="~/assets/thl-logo.png"
          margin="0,10,20,10"
          alignSelf="center"
        ></Image>
        <StackLayout
          horizontalAlignment="center"
          verticalAlignment="center"
          orientation="horizontal"
        >
          <label
            text="Français"
            verticalAlignment="center"
          ></label>
          <Switch
            [color]="isEnglish ? 'yellow' : 'brown'"
            (checkedChange)="langChanged()"
          >
          </Switch>
          <label
            text="English"
            verticalAlignment="center"
          ></label>
        </StackLayout>
        <core-ui-tf
          [hint]="'Views.SignIn.EmailHint' | translate"
          keyboardType="email"
          required="true"
          [editable]="!formDisabled"
          returnKeyType="done"
          [(ngModel)]="username"
          autocorrect="false"
          customClass="m-b-20 m-t-10 text-field-outline"
          iconPrefix="person"
          customTextFieldClass="no-border p-10"
        ></core-ui-tf>

        <core-ui-tf
          [hint]="'Views.SignIn.PassHint' | translate"
          [(ngModel)]="password"
          [secure]="!viewPassword"
          required="true"
          [editable]="!formDisabled"
          returnKeyType="done"
          autocorrect="false"
          customClass="m-b-20 m-t-10 text-field-outline"
          customTextFieldClass="no-border p-10"
          [iconSuffix]="viewPassword ? 'visibility_off' : 'visibility'"
          iconPrefix="lock"
          (iconSuffixTapAction)="viewPassword = !viewPassword"
        ></core-ui-tf>

        <Button
          class="btn btn-primary text-black"
          height="64"
          margin="0"
          [text]="'Views.SignIn.BtnLogin' | translate"
          (tap)="login()"
        ></Button>
        <Button
          class="btn btn-accent text-white"
          height="64"
          margin="0"
          [text]="'Views.SignIn.BtnSignUp' | translate"
          (tap)="(null)"
          [nsRouterLink]="['../sign-up']"
          pageTransition="slide"
        ></Button>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
