<StackLayout class="page-block docs-block">
  <nav-bar
    showDrawerButton="true"
    text="Documents conducteur"
  >
  </nav-bar>
  <Tabs selectedIndex="0">

    <TabStrip class="tab-view highlight-primary">
      <TabStripItem>
        <Label text="CNI"></Label>
      </TabStripItem>
      <TabStripItem class="special">
        <Label text="PERMIS"></Label>
      </TabStripItem>
    </TabStrip>

    <TabContentItem>
      <ScrollView>
        <StackLayout>
          <StackPanel>
            <Image
              [src]="id.front"
              stretch="fill"
              width="100%"
            ></Image>
            <GridLayout
              columns="*,auto"
              verticalAlignment="center"
              height="56"
              class="b-b-1 p-10"
            >
              <Label
                col="0"
                verticalAlignment="center"
                text="Vue avant"
                class="h4"
              ></Label>
              <core-ui-icon
                col="1"
                class="pull-right"
                name="edit"
                size="28"
                (tapAction)="setImage('id', 'front')"
              >
              </core-ui-icon>

            </GridLayout>

          </StackPanel>
          <StackPanel>

            <Image
              [src]="id.back"
              stretch="fill"
              width="100%"
            ></Image>
            <GridLayout
              columns="*,auto"
              verticalAlignment="center"
              height="56"
              class="b-b-1 p-10"
            >
              <Label
                col="0"
                verticalAlignment="center"
                text="Vue arrière"
                class="h4"
              ></Label>
              <core-ui-icon
                col="1"
                class="pull-right"
                name="edit"
                size="28"
                (tapAction)="setImage('id', 'back')"
              >
              </core-ui-icon>

            </GridLayout>

          </StackPanel>

          <Button
            text="Enregistrer"
            (tap)="save('id')"
            height="64"
            class="btn m-t-2 btn-accent text-white"
          ></Button>
        </StackLayout>
      </ScrollView>
    </TabContentItem>
    <TabContentItem>
      <ScrollView>
        <StackLayout>
          <StackPanel>
            <Image
              [src]="license.front"
              stretch="fill"
              width="100%"
            ></Image>
            <GridLayout
              columns="*,auto"
              verticalAlignment="center"
              height="56"
              class="b-b-1 p-10"
            >
              <Label
                col="0"
                verticalAlignment="center"
                text="Vue avant"
                class="h4"
              ></Label>
              <core-ui-icon
                col="1"
                class="pull-right"
                name="edit"
                size="28"
                (tapAction)="setImage('license', 'front')"
              >
              </core-ui-icon>

            </GridLayout>

          </StackPanel>
          <StackPanel>

            <Image
              [src]="license.back"
              stretch="fill"
              width="100%"
            ></Image>
            <GridLayout
              columns="*,auto"
              verticalAlignment="center"
              height="56"
              class="b-b-1 p-10"
            >
              <Label
                col="0"
                verticalAlignment="center"
                text="Vue arrière"
                class="h4"
              ></Label>
              <core-ui-icon
                col="1"
                class="pull-right"
                name="edit"
                size="28"
                (tapAction)="setImage('license', 'back')"
              >
              </core-ui-icon>

            </GridLayout>

          </StackPanel>

          <Button
            text="Enregistrer"
            height="64"
            (tap)="save('license')"
            class="btn m-t-2 btn-accent text-white"
          ></Button>
        </StackLayout>
      </ScrollView>
    </TabContentItem>
  </Tabs>
</StackLayout>
