<StackLayout class="packet-block page-block">
  <nav-bar
    [text]="'Views.Packet.Header' | translate"
    showDrawerButton="true"
  ></nav-bar>
  <ScrollView
    class="stack"
    height="100%"
  >
    <StackLayout padding="20">
      <Button
        [text]="selectedType"
        (tap)="choosePacketType()"
      ></Button>

      <core-ui-tf
        [hint]="'Views.Packet.ValueHint' | translate"
        [(ngModel)]="packet.value"
        required="true"
        keyboardType="number"
        [editable]="!formDisabled"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        [hint]="'Views.Packet.WeightHint' | translate"
        [(ngModel)]="packet.weight"
        required="true"
        keyboardType="number"
        [editable]="!formDisabled"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        [hint]="'Views.Packet.ReceiverHint' | translate"
        [(ngModel)]="packet.receiver_name"
        required="true"
        [editable]="!formDisabled"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <core-ui-tf
        keyboardType="phone"
        [hint]="'Views.Packet.ReceiverPhoneHint' | translate"
        [(ngModel)]="packet.receiver_phone"
        required="true"
        keyboardType="number"
        [editable]="!formDisabled"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>

      <Button
        class="btn btn-accent text-white"
        height="64"
        margin="0"
        [text]="'Views.Common.BtnSave' | translate"
        (tap)="save()"
      ></Button>
    </StackLayout>
  </ScrollView>
</StackLayout>
