<GridLayout
  verticalAlignment="center"
  height="56"
  class="p-l-20 p-r-20 p-t-0 p-b-0"
  columns="auto,*, auto"
  hideActionBar
>
  <StackLayout col="0" verticalAlignment="center">
    <core-ui-icon
      *ngIf="canGoBack && !showDrawerButton"
      name="arrow_back"
      size="28"
      (tapAction)="goBack()"
    >
    </core-ui-icon>
    <core-ui-icon
      *ngIf="showDrawerButton"
      name="subject"
      size="28"
      (tapAction)="openDrawer()"
    >
    </core-ui-icon>
  </StackLayout>
  <StackLayout
    col="1"
    horizontalAlignment="center"
    verticalAlignment="center"
    width="80%"
  >
    <Label
      class="h4"
      [text]="text"
      textWrap="true"
      horizontalAlignment="center"
    ></Label>
  </StackLayout>
  <StackLayout col="2" verticalAlignment="center">
    <ng-content select="[actions]"></ng-content>
  </StackLayout>
</GridLayout>
