<StackLayout class="page-block home-block">
  <nav-bar
    showDrawerButton="true"
    [text]="'Views.Map.Header' | translate: {type: type}"
  ></nav-bar>
  <DockLayout
    height="100%"
    stretchLastChild="true"
  >
    <StackLayout
      dock="bottom"
      width="100%"
      class="bg-primary"
    >
      <Button
        width="100%"
        #state1
        class="btn btn-primary btn-flat text-black"
        height="0"
        margin="0"
        (tap)="toggleState(2)"
        style="text-align: center;"
        text="Commander une course"
      ></Button>
    </StackLayout>
    <StackLayout
      class="m-l-10 m-r-10"
      dock="bottom"
      width="100%"
      height="0"
      #state4
    >
      <GridLayout
        rows="auto"
        columns="*,30"
        backgroundColor="#E4E4E4"
        class="p-20"
      >
        <Label
          col="0"
          row="0"
          class="h4"
          [text]="selectedDriver.user.name"
          textWrap="true"
        ></Label>
        <StackLayout
          horizontalAlignment="left"
          colSpan="2"
          col="0"
          row="1"
        >
          <Image
            margin="30,0,0,0"
            [src]="selectedDriver.picture || '~/assets/avatar.jpg'"
            height="90"
            width="90"
          ></Image>
        </StackLayout>
        <StackLayout
          col="1"
          row="0"
        >
          <core-ui-icon
            customClass=""
            name="close"
            rotate="180"
            (tapAction)="toggleState(3)"
            size="24"
          >
          </core-ui-icon>
        </StackLayout>
      </GridLayout>
      <ScrollView height="100%">
        <GridLayout
          verticalAlignment="top"
          rows=""
          columns="*, auto"
          class="m-20"
        >
          <StackLayout col="0">
            <Label
              [text]="'Views.Map.Phone' | translate"
              textWrap="true"
            ></Label>
            <Label
              class="h5"
              [text]="selectedDriver.user.phone"
              textWrap="true"
            ></Label>
            <Label
              [text]="'Views.Map.Matricule' | translate"
              textWrap="true"
            ></Label>

            <Label
              class="h5"
              [text]="selectedDriver.matricule"
              textWrap="true"
            ></Label>
          </StackLayout>
          <Button
            col="1"
            class="btn btn-accent text-white"
            height="48"
            margin="0"
            (tap)="toggleState(5)"
            style="text-align: center;"
            [text]="'Views.Map.ProceedPaiement' | translate"
          ></Button>
        </GridLayout>
      </ScrollView>
    </StackLayout>
    <StackLayout
      class="m-l-10 m-r-10"
      dock="bottom"
      width="100%"
      height="0"
      #state5
    >
      <GridLayout
        rows="auto"
        columns="30,*,30"
        class="p-20 b-b-1 b-thin bg-primary"
      >
        <StackLayout
          col="0"
          row="0"
        >
          <core-ui-icon
            customClass=""
            name="arrow_forward"
            rotate="180"
            (tapAction)="toggleState(4)"
            size="24"
          >
          </core-ui-icon>
        </StackLayout>
        <Label
          col="1"
          row="0"
          class="m-l-10 h4"
          [text]="'Views.Map.PaiementMode' | translate"
          textWrap="true"
        ></Label>
        <StackLayout
          col="2"
          row="0"
        >
          <core-ui-icon
            customClass=""
            name="close"
            rotate="180"
            (tapAction)="toggleState(3)"
            size="24"
          >
          </core-ui-icon>
        </StackLayout>
      </GridLayout>
      <ScrollView height="100%">
        <StackLayout class="m-20">
          <Label
            class="h5"
            [text]="'A regler: ' + getRoutePrice() + ' FCFA'"
            textWrap="true"
          ></Label>

          <StackLayout
            verticalAlignment="center"
            orientation="horizontal"
          >
            <Label
              verticalAlignment="center"
              class="h4 m-r-10"
              [text]="'Views.Map.ToPay' | translate"
              textWrap="true"
            ></Label>

            <Button
              col="1"
              class="btn momo btn-flat text-white"
              height="56"
              width="56"
              margin="0"
              style="text-align: center;"
              text=""
              (tap)="payTrip()"
            ></Button>
          </StackLayout>
        </StackLayout>
      </ScrollView>
    </StackLayout>
    <StackLayout
      dock="bottom"
      width="100%"
      horizontalAlignment="center"
      height="0"
      #state2
    >
      <StackLayout class="b-b-1 b-thin">
        <Image
          src="~/assets/bike.png"
          height="100"
          width="100"
          class="b-b-primary p-5"
        ></Image>
      </StackLayout>
      <ScrollView height="100%">
        <DockLayout stretchLastChild="true">
          <StackLayout
            dock="bottom"
            height="64"
            class="bg-primary"
          >
            <Button
              width="100%"
              class="btn btn-primary btn-flat text-black"
              height="64"
              margin="0"
              (tap)="setBikePositions()"
              style="text-align: center;"
              [text]="'Views.Map.Confirm' | translate"
            ></Button>
          </StackLayout>
          <StackLayout>
            <StackLayout
              horizontalAlignment="center"
              orientation="horizontal"
              class="m-t-20 m-b-0"
            >
              <Label
                [text]="'Views.Map.YourJourney' | translate"
                textWrap="true"
              ></Label>

              <Label
                class="route-price"
                [text]="getRoutePrice() + ' FCFA'"
                textWrap="true"
              ></Label>
              <Label
                [text]="'/' + currentRouteDistance"
                textWrap="true"
              ></Label>
            </StackLayout>
            <TextField
              [hint]="'Views.Map.YourWishes' | translate"
              [text]="wishes"
              class="m-20 p-5 text-field-outline"
              editable="true"
              height="50"
            ></TextField>
          </StackLayout>
        </DockLayout>
      </ScrollView>
    </StackLayout>
    <AbsoluteLayout
      #absoluteLayout
      height="100%"
    >
      <GridLayout
        height="100%"
        width="100%"
      >
        <MapView
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="zoom"
          [minZoom]="minZoom"
          [maxZoom]="maxZoom"
          [bearing]="bearing"
          [tilt]="tilt"
          i-padding="50,50,50,50"
          [padding]="padding"
          (mapReady)="onMapReady($event)"
          (markerSelect)="onMarkerEvent($event)"
          (markerBeginDragging)="onMarkerEvent($event)"
          (markerEndDragging)="onMarkerEvent($event)"
          (markerDrag)="onMarkerEvent($event)"
          (markerInfoWindowTapped)="onMarkerEvent($event)"
        ></MapView>
      </GridLayout>
      <GridLayout
        width="100%"
        class="p-5"
      >
        <CardView
          class="m-20"
          elevation="20"
          raduis="10"
        >
          <GridLayout
            class="raduis-5 p-t-10 p-b-10 p-l-5 p-r-5"
            rows="auto,auto"
          >
            <GridLayout
              row="0"
              columns="50, *"
            >
              <StackLayout col="0">
                <core-ui-icon
                  customClass="m-t-10"
                  name="navigation"
                  rotate="180"
                  size="16"
                >
                </core-ui-icon>
                <Label
                  backgroundColor="red"
                  class="dotted"
                  text=""
                  textWrap="true"
                ></Label>
              </StackLayout>
              <StackLayout
                col="1"
                class="b-b-1"
              >
                <RadAutoCompleteTextView
                  #autocomplete1
                  completionMode="Contains"
                  displayMode="plain"
                  [hint]="'Views.Map.StartPointHint' | translate"
                  class="no-border"
                  (textChanged)="onTextChanged($event)"
                  (didAutoComplete)="onDidAutoComplete($event, 0)"
                >
                  <SuggestionView
                    tkAutoCompleteSuggestionView
                    suggestionViewHeight="300"
                  >
                    <ng-template
                      tkSuggestionItemTemplate
                      let-item="item"
                    >
                      <GridLayout
                        columns="30,*"
                        padding="10"
                      >
                        <StackLayout col="0 m-l-10">
                          <core-ui-icon
                            name="location_on"
                            size="16"
                          >
                          </core-ui-icon>
                        </StackLayout>
                        <Label
                          col="1"
                          [text]="item.text"
                        ></Label>
                      </GridLayout>
                    </ng-template>
                  </SuggestionView>
                </RadAutoCompleteTextView>
              </StackLayout>
            </GridLayout>
            <GridLayout
              row="1"
              columns="50, *"
            >
              <StackLayout col="0">
                <Label
                  class="dotted"
                  text=""
                  textWrap="true"
                ></Label>
                <core-ui-icon
                  customClass="m-b-10"
                  name="panorama_fish_eye"
                  backColor="primary"
                  size="16"
                >
                </core-ui-icon>
              </StackLayout>
              <StackLayout col="1">
                <RadAutoCompleteTextView
                  #autocomplete2
                  completionMode="Contains"
                  displayMode="plain"
                  [hint]="'Views.Map.StopPointHint' | translate"
                  class="no-border"
                  (textChanged)="onTextChanged($event)"
                  (didAutoComplete)="onDidAutoComplete($event, 1)"
                >
                  <SuggestionView
                    tkAutoCompleteSuggestionView
                    suggestionViewHeight="300"
                  >
                    <ng-template
                      tkSuggestionItemTemplate
                      let-item="item"
                    >
                      <GridLayout
                        columns="30,*"
                        padding="10"
                      >
                        <StackLayout col="0 m-l-10">
                          <core-ui-icon
                            name="location_on"
                            size="16"
                          >
                          </core-ui-icon>
                        </StackLayout>
                        <Label
                          col="1"
                          [text]="item.text"
                        ></Label>
                      </GridLayout>
                    </ng-template>
                  </SuggestionView>
                </RadAutoCompleteTextView>
              </StackLayout>
            </GridLayout>
          </GridLayout>
        </CardView>
      </GridLayout>
      <StackLayout
        #state3
        class="msg-sel"
        horizontalAlignment="center"
        width="100%"
        class="p-5"
        opacity="0"
      >
        <CardView
          class="m-20 bg-accent "
          elevation="20"
          raduis="10"
        >
          <StackLayout
            width="100%"
            horizontalAlignment="center"
          >
            <Label
              horizontalAlignment="center"
              class="h4 text-white p-5"
              [hint]="'Views.Map.SelectTransporter' | translate"
              textWrap="true"
            ></Label>
          </StackLayout>
        </CardView>
      </StackLayout>
    </AbsoluteLayout>
  </DockLayout>
</StackLayout>
