.home-block {
  RadAutoCompleteTextView {
    token-item-spacing: 12;
    font-size: 14;

    SuggestionView {
      border-width: 1;
      border-color: rgb(224, 224, 224);
      background-color: white;
    }
  }

  .route-price {
    font-weight: 800;
  }

  .msg-sel {
    opacity: 0;

    label {
      border-width: 1;
    }
  }

  .momo {
    background-image: url('~/assets/momo.jpg');
    background-size: cover;
    background-position: center;
  }
  .om {
    margin-left: 12px;
    background-image: url('~/assets/om.png');
    background-size: cover;
    background-position: center;
  }
}

.mdi {
  font-size: 24px;
  font-color: #333;
}