.home-block {
  RadAutoCompleteTextView {
    token-item-spacing: 12;
    font-size: 14;

    SuggestionView {
      border-width: 1;
      border-color: rgb(224, 224, 224);
      background-color: white;

    }
  }
}
