<StackLayout class="page-block">
  <nav-bar [text]="'Views.Pressing.New.Header' | translate"></nav-bar>
  <ScrollView
    class="stack"
    height="100%"
  >
    <StackLayout
      #stack
      padding="20"
    >
      <Button
        [text]="selectedCloth"
        (tap)="chooseCloth()"
      ></Button>

      <core-ui-tf
        [hint]="'Views.Pressing.New.QuantityHint' | translate"
        [(ngModel)]="pressingRequest.quantity"
        required="true"
        keyboardType="number"
        [editable]="!formDisabled"
        autocorrect="false"
        customClass="m-b-20 m-t-10 text-field-outline"
        customTextFieldClass="no-border p-10"
      ></core-ui-tf>
      <TextView
        height="100"
        [hint]="'Views.Pressing.New.ClothsDetailHint' | translate"
        [(ngModel)]="pressingRequest.details"
        [editable]="!formDisabled"
        autocorrect="false"
        returnType="done"
        (returnPress)="onReturnPress($event)"
        class="m-b-20 m-t-10 text-field-outline p-10 m-r-5 m-l-5"
      ></TextView>

      <Button
        class="btn btn-primary text-black"
        height="64"
        margin="0"
        [text]="'Views.Pressing.New.BtnAddCloth' | translate"
        type="submit"
        (tap)="addCloth()"
      ></Button>
      <CardView
        *ngFor="let item of addedCloths"
        elevation="4"
        class="m-l-5 m-r-5 m-t-10 m-b-10"
      >
        <StackLayout padding="10">
          <GridLayout
            class="p-b-5 m-b-5"
            columns="auto, *, auto"
            verticalAlignment="center"
          >
            <StackLayout
              col="0"
              horizontalAlignment="left"
            >
              <core-ui-icon
                verticalAlignment="center"
                horizontalAlignment="left"
                name="close"
                size="24"
                (tapAction)="removeItem(item)"
              >
              </core-ui-icon>
            </StackLayout>
            <label
              verticalAlignment="center"
              horizontalAlignment="center"
              class="m-r-5"
              [text]="item.price + ' FCFA'"
              col="1"
            ></label>
            <StackLayout
              col="2"
              horizontalAlignment="right"
            >
              <core-ui-icon
                verticalAlignment="center"
                horizontalAlignment="right"
                name="edit"
                size="24"
                (tapAction)="editItem(item)"
              >
              </core-ui-icon>
            </StackLayout>
          </GridLayout>
          <StackLayout class="p-t-5 p-b-5 m-b-5 b-b-1 b-t-1">
            <label
              class="m-b-1"
              horizontalAlignment="left"
              [text]="getClothName(item.type) + ' (' + item.quantity + ')'"
            ></label>
            <label
              textWrap="true"
              [text]="('Views.Pressing.New.UnitPrice' | translate) + getUnitPrice(item.type) + ' FCFA'"
            ></label>
          </StackLayout>
          <Label
            [text]="item.details"
            textWrap="true"
          ></Label>
        </StackLayout>
      </CardView>
      <Button
        class="btn btn-accent text-white"
        height="64"
        margin="0"
        [text]="'Views.Pressing.New.BtnSave' | translate"
        isEnabled="{{addedCloths.length === 0 ? 'false' : 'true'}}"
        (tap)="save()"
      ></Button>
    </StackLayout>
  </ScrollView>
</StackLayout>
