<StackLayout class="sign-up-block">
  <StackLayout
    orientation="horizontal"
    verticalAlignment="center"
    height="64"
    padding="10"
  >
    <core-ui-icon name="arrow_back" size="28" (tapAction)="goBack()">
    </core-ui-icon>
    <StackLayout
      horizontalAlignment="center"
      verticalAlignment="center"
      width="80%"
    >
      <Label
        class="h3"
        text="S'inscrire"
        textWrap="true"
        horizontalAlignment="center"
      ></Label>
    </StackLayout>
  </StackLayout>
  <ScrollView height="100%" hideActionBar>
    <FlexboxLayout
      height="100%"
      width="100%"
      flexDirection="column"
      maxWidth="400"
      alignItems="center"
      alignContent="center"
      justifyContent="center"
    >
      <StackLayout class="stack" padding="20">
        <StackLayout #stack>
          <Image
            width="400"
            src="~/assets/thl-logo.png"
            margin="0,10,20,10"
            alignSelf="center"
          ></Image>
          <core-ui-tf
            hint="Identifiant"
            keyboardType="email"
            required="true"
            [editable]="!formDisabled"
            returnKeyType="done"
            [(ngModel)]="user.username"
            (returnPress)="onReturnPress($event)"
            autocorrect="false"
            customClass="m-b-20 m-t-10 text-field-outline"
            iconPrefix="person"
            customTextFieldClass="no-border p-10"
          ></core-ui-tf>

          <core-ui-tf
            hint="Email ou Numéro de tel"
            keyboardType="email"
            required="true"
            [editable]="!formDisabled"
            returnKeyType="done"
            [(ngModel)]="user.emailOrPhone"
            (returnPress)="onReturnPress($event)"
            autocorrect="false"
            customClass="m-b-20 m-t-10 text-field-outline"
            iconPrefix="email"
            customTextFieldClass="no-border p-10"
          ></core-ui-tf>

          <core-ui-tf
            hint="Mot de passe"
            [(ngModel)]="user.password"
            [secure]="!viewPassword"
            required="true"
            [editable]="!formDisabled"
            returnKeyType="done"
            (returnPress)="onReturnPress($event)"
            autocorrect="false"
            customClass="m-b-20 m-t-10 text-field-outline"
            customTextFieldClass="no-border p-10"
            [iconSuffix]="viewPassword ? 'visibility_off' : 'visibility'"
            iconPrefix="lock"
            (iconSuffixTapAction)="viewPassword = !viewPassword"
          ></core-ui-tf>

          <core-ui-tf
            hint="Confirmer Mot de passe"
            [(ngModel)]="user.confirmPassword"
            [secure]="!viewPassword"
            required="true"
            [editable]="!formDisabled"
            returnKeyType="done"
            (returnPress)="onReturnPress($event)"
            autocorrect="false"
            customClass="m-b-20 m-t-10 text-field-outline"
            customTextFieldClass="no-border p-10"
            [iconSuffix]="viewPassword ? 'visibility_off' : 'visibility'"
            iconPrefix="lock"
            (iconSuffixTapAction)="viewPassword = !viewPassword"
          ></core-ui-tf>

          <Button
            class="btn btn-primary text-black"
            height="64"
            margin="0"
            text="S'INSCRIRE"
            (tap)="(null)"
            [nsRouterLink]="['/app-shell']"
            pageTransition="slide"
          ></Button>
          <!-- <Label
            text="Vous avez déjà un compte ?"
            margin="0,10,0,10"
            textWrap="true"
          ></Label> -->
        </StackLayout>
      </StackLayout>
    </FlexboxLayout>
  </ScrollView>
</StackLayout>
