<StackLayout class="page-block  sign-up-block">
  <nav-bar [text]="'Views.SignUp.Header' | translate"></nav-bar>
  <ScrollView height="100%">
    <StackLayout
      class="stack"
      padding="20"
      maxWidth="400"
    >
      <StackLayout #stack>
        <Image
          width="400"
          src="~/assets/thl-logo.png"
          margin="0,10,20,10"
          alignSelf="center"
        ></Image>
        <core-ui-tf
          [hint]="'Views.SignUp.NameHint' | translate"
          required="true"
          [editable]="!formDisabled"
          returnKeyType="done"
          [(ngModel)]="user.name"
          autocorrect="false"
          customClass="m-b-20 m-t-10 text-field-outline"
          iconPrefix="person"
          customTextFieldClass="no-border p-10"
        ></core-ui-tf>

        <core-ui-tf
          [hint]="'Views.SignUp.EmailHint' | translate"
          keyboardType="email"
          required="true"
          [editable]="!formDisabled"
          returnKeyType="done"
          [(ngModel)]="user.email"
          autocorrect="false"
          customClass="m-b-20 m-t-10 text-field-outline"
          iconPrefix="email"
          customTextFieldClass="no-border p-10"
        ></core-ui-tf>

        <core-ui-tf
          [hint]="'Views.SignUp.PassHint' | translate"
          [(ngModel)]="user.password"
          [secure]="!viewPassword"
          minLength="8"
          required="true"
          [editable]="!formDisabled"
          returnKeyType="done"
          autocorrect="false"
          customClass="m-b-20 m-t-10 text-field-outline"
          customTextFieldClass="no-border p-10"
          [iconSuffix]="viewPassword ? 'visibility_off' : 'visibility'"
          iconPrefix="lock"
          (iconSuffixTapAction)="viewPassword = !viewPassword"
        ></core-ui-tf>

        <core-ui-tf
          [hint]="'Views.SignUp.ConfirmPassHint' | translate"
          [(ngModel)]="user.confirmPassword"
          [secure]="!viewPassword"
          minLength="8"
          required="true"
          [editable]="!formDisabled"
          returnKeyType="done"
          autocorrect="false"
          customClass="m-b-20 m-t-10 text-field-outline"
          customTextFieldClass="no-border p-10"
          [iconSuffix]="viewPassword ? 'visibility_off' : 'visibility'"
          iconPrefix="lock"
          (iconSuffixTapAction)="viewPassword = !viewPassword"
        ></core-ui-tf>

        <Button
          class="btn btn-primary text-black"
          height="64"
          margin="0"
          [text]="'Views.SignUp.BtnSignUp' | translate"
          (tap)="register()"
        ></Button>
      </StackLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
